@font-face{
    font-family: 'FuturaBookC';
    src: url(./assets/Shrifts/FuturaBookC.ttf);
}
@font-face{
    font-family: 'FuturaDemiC';
    src: url(./assets/Shrifts/FuturaDemiC.ttf);
}
@font-face{
    font-family: 'YesevaOne';
    src: url(./assets/Shrifts/YesevaOne.ttf);
}
@font-face{
    font-family: 'FuturaMediumC';
    src: url(./assets/Shrifts/FuturaMediumC.ttf);
}
@font-face{
    font-family: 'ProximaNova';
    src: url(./assets/Shrifts/ProximaNova-Regular.ttf);
}


body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10150px;
  align-items: stretch;
  max-width: 1440px;
  width: 100%;
  min-width: 375px;
  margin: 0px auto;
}
header, footer {
  height: 0.8177%;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  background-color: #131313;
}
.Group1{
  width: 87.222222222222222222222222222222%;
  height: 44.578313253012048192771084337349%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-left:5.7%;
  font-family: "FuturaBookC";
  font-size: 14px;
  color:#E3B873;
}
.NAV{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  height: 27.027027027027027027027027027027%;
  width: 46.292197452229299363057324840764%;
  color: white;

}
.ButtonNav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12.818471337579617834394904458599%;
  background-color: #E3B873;
  color: white;
}
.BigVideo {
  background-image: url(./assets/back.png);
  flex-grow: 1;
}
.TextBigVideo{
  display: flex;
  flex-direction: column;
  margin: 194px 4.4182621502209131075110456553756%;
}
.BigTextBigVideo{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: white;
}
.BigTextBigVideo p{
  margin: -0px 0px;
}
.BigTextBigVideo span{
  color:#E3B873;
}
.SmallTextBigVideo{
  font-family: 'FuturaBookC';
  font-size: 22px;
  line-height: 30px;
  color: white;
}
.ButtonsBigVideo{
  display: flex;
  justify-content: space-between;
  width: 31.958762886597938144329896907216%;
  margin: -157px 4.4182621502209131075110456553756%;
}
.Button1{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border: 1px solid #E3B873;
  border-radius: 2px;
  width: 207px;
  height: 51px;
}
.Button2{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 207px;
  height: 51px;
}
.Button1 p, .Button2 p{
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  color: white;
}
.Instagramm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  background-color: #131313;
  width: 5.6944%;
}
.Instagramm p{
  transform: rotate(90deg);
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color:#E3B873;
}
.firstBar {
  width: 100%;
  height: 6.9655%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.ButtonDown{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 247px;
  height: 9.0316573556797020484171322160149%;
  background-color: #131313;
  margin-top: -49px;
}
.ButtonDown p{
  margin-right: 4.8582995951417004048582995951417%;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
}


.Projects {
  height: 1074px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.ProjectsComplited {
  background-color: #131313;
  width: 41.38%;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/IMG/Projects/Frame.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.InfoProjects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16.420856610800744878957169459963% 17.650012553351744915892543309064%;
  width: 73.981086283370993388568081010963%;
  height: 442px;
}
.InfoProjects table{
  border-spacing: 0px 34px;
  margin-bottom: -34px;
}
.InfoProjects td{
  vertical-align: top;
}
.ArticleInfoProjects{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}
.SmallPartProject{
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}
.TDHead{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}
.TDBody{
  font-family: 'FuturaBookC';
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}
.BigSliderProjects{
  margin: -38px   17.650012553351744915892543309064%;
}
.ProjSlider {
  background-color: #131313;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-image: url(./assets/IMG/Projects/Frame1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.NavProjects{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  margin-top:  107px;
  height: 24px;
  width: 77.186761229314420803782505910165%;
}
.NavProjects p{
  margin-top:  0px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.PhotoProjects{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 482.38px;
  margin: 45px 0px;
}
.SmallPhotoProjects{
  background-image: url('./assets/IMG/Projects/Foto2.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 483px;
}
.TextProjects{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 71.26px 3.6078199052132701421800947867299% ;

  width: 23.222748815165876777251184834123%;
  height: 66.79px;
}
.TextProjects p{
  margin: 0px 0px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
}


.Types {
  width: 100%;
  height: 2663px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background-image: url(./assets/Img/Types/back.png);
}
.Video1 {
  display: flex;
  justify-content: center;
  background-image: url(./assets/IMG/Types/Layer.png);
  width: 817px;
  height: 434px;
  margin-top: -208px;
}
.Text1 {
  width: 49.2917%;
  height:130.91px;
  margin-top: 100.5px;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}
.Text1 p{
  margin-top:0px;
}
.Input {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 53.4028%;
  height: 51px;
  margin-top: 91.5px;
}
.InputName{
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 20px;

  color: rgba(54, 54, 54, 0.5);
}
.Input td{
  margin: 0px 0px;
  width: 220px;

}
.Input button{
  width: 200px;
  height: 51px;
  background-color: #E3B873;
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 15px;
  font-family: 'FuturaDemiC';
  line-height: 26px;
  text-align: center;
}
.Input input{
  border:none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #BFBFBF;
  height: 32px;
  margin-top: -10px;
  width: 100%;

  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;

  color: #363636;
}
.SubmitTypes{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 33.24px;
}
.SubmitTypes p{
  font-family: 'FuturaBookC';
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}
.SubmitTypes input{
  width: 18px;
  height: 18px;
  background-color: #E3B873;
  border: none;
  color: white;
  display: inline-block;
  font-size: 15px;
  font-family: 'FuturaDemiC';
  line-height: 26px;
  text-align: center;
}
.TextTypes{
  margin-top: 147.85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TextTypes p{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}
.Photos1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85.8333333333%;
  height: 608px;
  margin-top: 31px;
}
.PhotosTypes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.InfoPhotosTypes{
  margin-top: -127px;
  width: 94.983818770226537216828478964401%;
  height: 314px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CollumnText{
  width: 28.104241185487991824220746039857%;
  height:286px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.ListText{
  margin: 25px 34px;
}
.ListText ul{
  padding: 0px 0px;
  margin-left:20px;
  margin-top: -17px;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
.ListText p{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.ListTextPrice{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 54px;
  margin-top:34px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.ListTextPrice p{
  padding: 0px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.Photos1 img{
  height: 421px;
}
.Photos2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93.125%;
  height: 722.77px;
  margin-top: 124px;
  margin-right: 6.875%;
}
.PlusesTypes{
  background-image: url(./assets/IMG/Types/BackPluses.png);
  width: 58.090976882923191648023862788963%;
  height: 691.26px;
  background-repeat: no-repeat;
}
.Plus1{
  display: flex;
  flex-direction: row;
  margin: 62.12px 513.03px;
  height: 41.76px;
  width: 460px;
}
.Plus2{
  display: flex;
  flex-direction: row;
  margin: 69.38px 587.69px;
  height: 41.76px;
  width: 460px;
}
.Plus3{
  display: flex;
  flex-direction: row;
  margin: 118.86px 612.84px;
  height: 41.76px;
  width: 460px;
}
.Plus4{
  display: flex;
  flex-direction: row;
  margin: 118.86px 548px;
  height: 41.76px;
  width: 460px;
}
.Plus1IMG{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41.76px;
  height: 41.76px;
  border-radius: 50%;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.Plus1IMG p{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.PlusText{
  margin-left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PlusText p{
  font-family: 'FuturaMediumC';
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}
.KrygTypes{
  width: 636.12px;
  height: 636.12px;
  border: 2px solid #E3B873;
  border-radius: 50%;
  margin: 55px -154.54px;
}
.RightColumnTypes{
  width: 37.956748695003728560775540641312%;
  height: 619.44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.BigInputTypes{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/IMG/Types/BackBigI.png);
  background-color: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 509px;
}
.Pig{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  width: 441px;
}
.PigImg{
  background-image: url(./assets/IMG/Types/Pig.png);
  width: 72px;
  height: 72px;
}
.PigText{
  margin-left:25px;
  font-family: 'FuturaDemiC';
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.checkboxText{
  font-family: 'FuturaBookC';
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.Agreement{
  margin-left: -120px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 18px;
  width: 285.62px;
}
.AgreementButton{
  margin-top: 39px;
  margin-left: 193px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 51px;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.AgreementButton p{
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.BigInputTypes table{
  border-collapse: collapse;
  width:408px;
  height: 244px;
  text-align: left;
}
.BigInputTypes span{
  width:408px;
}
.BigInputTypes input{
  border:none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #BFBFBF;
  background-color: inherit;
  height: 33px;
  margin-top: -10px;
  width: 100%;
  font-family: 'FuturaMediumC';
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.InputNameTypes{
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.NoneTypes{
  height: 48px;
}
.BigInputTypes{
  font-family: 'FuturaDemiC';
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}


.Fantasies {
  width: 100%;
  height: 864px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-image: url(./assets/IMG/Fantasies/Back.png);
}
.WEREALISE {
  width: 40.7638888889%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.TitleWEREALISE{
  margin-top: 137.47px;
  width: 70.017035775127768313458262350937%;
  height: 66px;

}
.TitleWEREALISE p{
  margin: 0px 0px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}
.InfoWEREALISE{
  width: 70.017035775127768313458262350937%;
  margin-top: 45px;
}
.InfoWEREALISE ul{
  padding: 0;
  margin-top: 0px;
}
.InfoWEREALISE li{
  font-family: 'ProximaNova';
  font-size: 20px;
  line-height: 34px;

  color: #FFFFFF;
  list-style-type: none;
}
.AmerClass{
  color:#E3B873;
  text-decoration: underline;

}
.ProjPhotos {
  display: flex;
  flex-direction:  row;
  flex-grow: 1;
  height: 100%;
}
.ProjFieldWEREALISE{
  width:88.019929660023446658851113716295%;
  height: 1058.39px;
  margin-top: -112.53px;
  display: flex;
  justify-content: space-between;
}
.Photo1WEREALISE{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 47.111850865512649800266311584554%;
  height: 945.86px;
  margin-top: 72px;
}
.Photo2WEREALISE{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 47.111850865512649800266311584554%;
  height: 945.86px;
}

.Prevue {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 621.47px;
}
.DesignProject{
  margin-top: 153.79px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 17.847222222222222222222222222222%;
  height: 66.89px;
}
.DesignProject p,.OurClients p{
 margin: 0;
 font-family: 'YesevaOne';
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
 line-height: 28px;
 text-align: center;
 text-transform: uppercase;
 color: #181818;
}
.DesignProjectText{
  margin-top: 21.11px;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}


.Price {
  width: 100%;
  height: 1615.53px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #131313;
  background-image: url(./assets/IMG/Price/back.png);
}
.PhotosAndInfoPrice {
  width: 85.833333333333333333333333333333%;
  height: 421px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -279.67px;
}
.AboutPrices1{
  display: flex;
  background-image: url(./assets/IMG/Price/Mini.png);
  width: 31.715210355987055016181229773463%;
  height: 421px;

}
.AboutPrices2{
  display: flex;
  background-image: url(./assets/IMG/Price/Standart.png);
  width: 31.715210355987055016181229773463%;
  height: 421px;

}
.AboutPrices3{
  display: flex;
  background-image: url(./assets/IMG/Price/Full.png);
  width: 31.715210355987055016181229773463%;
  height: 421px;
}
.InfoAboutPrices1{
  display: flex;
  flex-direction: column;
  width: 84.183673469387755102040816326531%;
  background-color: white;
  height: 211px;
  margin: 294px 7.9081632653061224489795918367347%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.InfoAboutPrices2{
  display: flex;
  flex-direction: column;
  width: 84.183673469387755102040816326531%;
  background-color: white;
  height: 286px;
  margin: 294px 7.9081632653061224489795918367347%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.InfoAboutPrices3{
  display: flex;
  flex-direction: column;
  width: 84.183673469387755102040816326531%;
  background-color: white;
  height: 414px;
  margin: 294px 7.9081632653061224489795918367347%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.Prices1Text{
  display: flex;
  flex-direction: column;
  width: 80.909090909090909090909090909091%;
  height: 129px;
  margin: 25px 34px;
}
.Prices2Text{
  display: flex;
  flex-direction: column;
  width: 80.909090909090909090909090909091%;
  height: 212px;
  margin: 25px 34px;
}
.Prices3Text{
  display: flex;
  flex-direction: column;
  width: 80.909090909090909090909090909091%;
  height: 331px;
  margin: 25px 34px;
}
.Prices1Text p, .Prices2Text p, .Prices3Text p{
  margin-top: 0px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #363636;
}
.Prices1Text ul, .Prices2Text ul, .Prices3Text ul{
  padding: 0 0;
  margin-left: 7%;
  margin-top: -17px;
}
.Prices1Text li, .Prices2Text li, .Prices3Text li{
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 25px;

  color: #959595;
}
.PricesButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -27px;
  width: 69.090909090909090909090909090909%;
  height: 54px;
  background-color: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
}
.PricesButton p{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.ALotOfText{
  display: flex;
  flex-direction: row;
  width: 85.972222222222222222222222222222%;
  height: 686px;
  margin-top: 287px;
}
.ALotOfTextX2{
  display: flex;
  flex-direction: column;
  width: 38.206785137318255250403877221325%;
  height: 100%;
}
.ALotOfTextX2 img{
  width: 50.025274093182967004235589409283%;
  margin: 112px 17.421602787456445993031358885017%;
}
.ALotOfTextX2AndPhoto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
  height: 100%;
}
.ALotOfTextX2AndPhoto table{
  height: 168.03px;
  width: 100%;
  margin-top: 90px;
}
.ALotOfTextX2AndPhoto td{
  padding: 0;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.ALotOfTextX2AndPhoto span{

  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  border-bottom: 2px solid  #E3B873;

  color: #FFFFFF;
}
.HowWorking{
  margin: 0;
  font-family: 'FuturaDemiC';
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.Steps{

  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}
.NumberSteps{
  margin-top: 52px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.DepartureSteps{
  margin-top: 22px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;

  color: #E3B873;
}
.HowItWorking{
  margin-top: 16px;

  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 25px;

  color: #FFFFFF;
}
.TextOurTeam{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 95.15px;
  width: 33.055555555555555555555555555556%;
  height: 148px;
}
.OurTeanHead{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}
.OurTeanBody{
  text-align: center;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #FFFFFF;
}

.TeamAndClients {
  width: 100%;
  height: 15.0049261084%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background-image: url(./IMG/Price/back.png);
}
.PhotosOfTeam{
  display: flex;
  flex-direction: column;
  width: 73.836111111111111111111111111111%;
  height: 449px;
  margin-top: -219.3px;
}
.OnlyPhotosOfTeam{
  margin: 35px 35px;
  display: flex;
  justify-content: space-between;
  width: 96.734509612128964297806704036718%;
  height: 357.63px;
}
.SmallAtribute{
  margin-top: -427px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 77.687069711448026786050186223242%;
}
.SmallAtribute img{
  width: 70px;
  height:70px;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
}
.NamesOfTeam{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 242px;
  margin-left: 55px;
  margin-right: 20.24px;
  height: 137px;
}
.ColumnOfNames{
  width:23.582995951417004048582995951417%;
  height: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}
.NameOfWorker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width:100%;
  height: 93px;
}
.NAMEWORK{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #181818;
}
.Proff{
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595;
}
.TimeOfWorking{
  width: 100%;
  height: 44px;
  background-color: #E3B873;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}
.EachEmployee{
  margin-top: 70.29px;
  display:flex;
  align-items: center;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}
.OurClients{
  margin-top: 55.89px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33.055555555555555555555555555556%;
  height:107.16px;
}
.OurClients span{
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}
.Babulki{
  margin-top:39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85.833333333333333333333333333333%;
  height: 482.08px;
}
.Idedulki{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.420711974110032362459546925566%;
  height: 428.03px;
  background-color: white;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.HeadBabulki{
  margin: 24px 20px;
  display: flex;
  flex-direction:row;
  align-items: center;
  height: 76px;
  width:100%;

}
.PhotoBabulki{
  background-color: white;
  width: 20.21276595744680851063829787234%;
  height: 100%;
  border-radius: 50%;
}
.NameOfBabulka{
  margin-left: 6.1170212765957446808510638297872%;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #181818;
}
.AboutBabulka{
  margin-top: -40px;
  margin-left: 6.1170212765957446808510638297872%;
  display: flex;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 180%;
  color: #959595;
}
.ButtonBabulki{
  margin-bottom: -27.03px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 54px;
  width: 77.925531914893617021276595744681%;
}
.ButtonBabulki p{
  margin-left: 7.5px;
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.Metres{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width:45.488085106382978723404255319149%;
  background-color: #E3B873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.Days{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width:54.000914893617021276595744680851%;
  background-color: #E3B873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.Map {
  margin-top: -40px;
  background-color: black;
  background-image: url(./assets/IMG/Map/Map.png);
  width: 100%;
  height: 953.9px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: column;
}
.InputField{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #131313;
  background-image: url(./assets/Img/Types/back.png);
  height: 445px;
  width: 61.319444444444444444444444444444%;
  margin-top: -222.66px;
}
.QuestionsMap{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}
.NameAndPhoneMap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 58.542736197424119607313338737278%;
  height: 45px;
}
.NameAndPhoneMap table{
  width: 44.423931229446720129233254485663%;
  border-collapse: collapse;
}
.NameAndPhoneMap td{
  width: 44.423931229446720129233254485663%;
}
.NameAndPhoneMap input,.BigInputQuestion input{
  margin-top: -24px;
  border:none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(120, 120, 120, 0.3) ;
  background-color: inherit;
  height: 33px;
  width: 100%;
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 24px;

  color: #FFFFFF;
}
.BigInputQuestion{
  width: 58.527746319365798414496036240091%;
}
.BigInputQuestion table{
  width:100%;
}
.QuestionInput{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 32.346545866364665911664779161948%;
  height: 18px;
}
.ButtonMap{
  width: 22.650056625141562853907134767837%;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3B873;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
}
.ButtonMap span{
  font-family: 'FuturaDemiC';
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.Adress{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: column;
}
.Adress p{
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color:#E3B873;
}
.TextProjectsNone{
  display: none;
}
.SmallPartProject br+br{
  display: none;
}
.BigInputTypesNone{
  display: none;
}
.PricesButtonNone{
  display: none;
}
.PhotosOfTeamNone{
  display: none;
}
.No{display: none;
}
@media
(width: 400px) {
  .Instagramm {
    display: none;
  }
  .NAV{
    display: none;
  }
  .ButtonNav{
    display: none;
  }
  .ButtonDown{
    display: none;
  }
  .SubmitYou{
    display: none;
  }
}
@media (width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 8760px;
    align-items: stretch;
    max-width: 375px;
    width: 100%;
    min-width: 0px;
    margin: 0px auto;
    background-color: white;
  }
  header {
    width: 100%;
    height: 0.8177%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    background-color: #131313;
  }
  .Group1{
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

  }
  .Instagramm {
    display: none;
  }
  .NAV{
    display: none;
  }
  .ButtonNav{
    display: none;
  }
  .ButtonDown{
    display: none;
  }
  .SubmitYou{
    display: none;
  }
  .Group1 p{
    font-family: 'FuturaDemiC';
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #E3B873;
  }
  .Group1 .NavTel p{
    font-family: 'FuturaDemiC';
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
  }
  .firstBar{
    height: 476px;

  }
  .BigTextBigVideo{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 132.83%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .SmallTextBigVideo{
    width: 290px;
    font-family: 'FuturaBookC';
    font-size: 18px;
    line-height: 135.84%;
    color: #FFFFFF;
  }
  .TextBigVideo{
    margin-top: 85px;
  }
  .ButtonsBigVideo{
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 338px;
  }
  .Button1, .Button2{
    width: 338px;
  }
  .Projects{
    width: 375px;
    height: 1074px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
  }
  .ProjectsComplited {
    background-color: #131313;
    width: 375px;
    display: flex;
    flex-direction: column;
    background-image: none;
  }
  .InfoProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 36px 0;
    width: 375px;
    height: 841px;
  }
  .InfoProjects table{
    margin-top: 314px;
    width: 100%;
    border-spacing: 31px 27px;
  }
  .InfoProjects td{
    width: 129px;
  }
  .ArticleInfoProjects{
    text-align: center;
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 138.6%;
    letter-spacing: -0.07em;
    text-transform: uppercase;

    color: #E3B873;
  }
  .SmallPartProject{
    width: 311px;

    font-family: 'FuturaBookC';
    font-size: 14px;
    line-height: 158.48%;
    text-align: center;
    color: #FFFFFF;
  }
  .SmallPartProject br{
     display: none;
  }
  .NavProjects{
    display: none;
  }
  .ProjSlider {
    margin-top: 200px;
    position: absolute;
    width: 340px;
    height: 241.55px;
    background-color: #131313;
    background-image: none;
  }
  .TextProjects{
    width: 224px;
    margin-left: 58px;
    margin-top: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 73.79px;
  }
  .BigSliderProjects{
    display: none;
  }
  .SmallPhotoProjects{
    display: none;
  }
  .PhotoProjects{
    width: 340px;
    height: 241.55px
  }
  .PhotoProjects img{
    width: 340px;
    height: 241.55px
  }
  .TDHead{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 138.6%;
    text-transform: uppercase;

    color: #E3B873;

  }
  .TDBody{
    font-family: 'FuturaBookC';
    font-size: 14px;
    line-height: 135.84%;
    color: #FFFFFF;
  }

  .TextProjects p{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .Types {
    width: 100%;
    height: 2500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
  }
  .Video1{
    display: flex;
    justify-content: center;
    background-image: url(./assets/IMG/Types/Layer.png);
    background-size: contain;
    width: 340px;
    height: 207px;
    margin-top: -208px;
  }
  .Text1 {
    width: 340px;
    height:106.91px;
    margin-top: 51px;
    font-family: 'FuturaBookC';
    font-size: 14px;
    line-height: 169.8%;

    text-align: center;

    color: #FFFFFF;
  }
  .Text1 p{
    margin-top:0px;
  }
  .Text1 br{
    display: none;
  }
  .Photos2{
    display: none;
  }
  .Input {
    display: none;
  }
  .SubmitTypes{
    display: none;
  }
  .BigInputTypesNone{
    margin-top: 61.05px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    width: 340px;
    height: 311px;
  }
  .checkboxText{
    font-family: 'FuturaBookC';
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .Agreement{
    margin-left: -55px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    width: 285.62px;
  }
  .AgreementButton{
    margin-left: 0;
    margin-top: 62.43px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 51px;
    background-color: #E3B873;
  }
  .AgreementButton p{
    font-family: 'FuturaDemiC';
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .BigInputTypesNone table{
    border-collapse: collapse;
    width:340px;
    height: 153px;
    text-align: left;
  }
  .BigInputTypesNone span{
    width:408px;
  }
  .BigInputTypesNone input{
    border:none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BFBFBF;
    background-color: inherit;
    height: 33px;
    margin-top: -10px;
    width: 100%;
    font-family: 'FuturaMediumC';
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .InputNameTypes{
    font-family: 'FuturaBookC';
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .NoneTypes{
    height: 48px;
  }
  .BigInputTypesNone{
    font-family: 'FuturaDemiC';
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }
  .TextTypes{
    margin-top: 58px;
    width: 375px;
    height: 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .TextTypes p{
    margin: 0;
    font-family:'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }
  .Photos1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1570px;
    margin-top: 31px;
  }
  .PhotosTypes{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1375.7px;
  }
  .PhotosTypes img{
    width: 340px;
    height: 365px;
  }
  .OTSTUPIMG{
    margin-top: 59px;
  }
  .InfoPhotosTypes{
    margin-left: -70px;
    margin-top: -1192px;
    width: 270px;
    height: 1327px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .CollumnText{
    width: 270px;
    height:261px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }
  .ListText{
    margin: 25px 34px;
  }
  .ListText ul{
    padding: 0px 0px;
    margin-left:20px;

    font-family: 'FuturaBookC';
    font-size: 13px;
    line-height: 169.8%;



    color: #959595;
  }
  .ListText p{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 138.6%;
    color: #363636;
  }
  .ListTextPrice{
    margin-top: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 54px;
    margin-top:34px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
  .ListTextPrice p{
    padding: 0px;
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .ProjPhotos{
    display: none;
  }
  .InfoWEREALISE{
    display: none;
  }
  .Fantasies {
    margin-top: -121px;
    margin-left: 18px;
    width: 340px;
    height: 242px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: url(./assets/IMG/Mobile/back.png);
  }
  .WEREALISE {
    width: 340px;
    height: 66px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .TitleWEREALISE{
    margin-top: -211px;
    width: 340px;
    height: 66px;
  }
  .TitleWEREALISE p{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    text-transform: uppercase;

    color: #E3B873;
  }

  .Prevue {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
  }
  .DesignProject{
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 257px;
    height: 69.89px;
  }
  .DesignProject p{
   margin: 0;
   font-family: 'YesevaOne';
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 138.6%;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
  }
  .DesignProjectText br{
    display: none;
  }
  .DesignProjectText{
    width: 284px;
    font-family: 'FuturaBookC';
    font-size: 15px;
    line-height: 135.84%;
    text-align: center;

    color: #FFFFFF;
  }
  .ALotOfText{
    display: none;
  }

  .Price {
    width: 375px;
    height: 1757px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .PhotosAndInfoPrice {
    width: 340px;
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .AboutPrices1{
    margin-top: 280px;
    display: flex;
    background-image: url(./assets/IMG/Price/Mini.png);
    background-size: contain;
    width: 340px;
    height: 365px;
  }
  .AboutPrices2{
    margin-top: 114.85px;
    display: flex;
    background-image: url(./assets/IMG/Price/Full.png);

    background-size: contain;
    width: 340px;
    height: 365px;

  }
  .AboutPrices3{
    margin-top: 177.85px;
    display: flex;
    background-image: url(./assets/IMG/Price/Standart.png);
    background-size: contain;
    width: 340px;
    height: 421px;
  }
  .InfoAboutPrices1{
    margin-left: 0;
    margin-top: 223px;
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: white;
    height: 177px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }
  .InfoAboutPrices2{
    margin-left: 0;
    margin-top: 223px;
    display: flex;
    flex-direction: column;
    width: 84.183673469387755102040816326531%;
    background-color: white;
    height: 241px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }
  .InfoAboutPrices3{
    margin-left: 0;
    margin-top: 223px;
    display: flex;
    flex-direction: column;
    width: 84.183673469387755102040816326531%;
    background-color: white;
    height: 241px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }
  .Prices1Text{
    display: flex;
    flex-direction: column;
    width: 190.43px;
    height: 40px;
  }
  .Prices2Text{
    display: flex;
    flex-direction: column;
    width: 190.43px;
    height: 40px;
  }
  .Prices3Text{
    display: flex;
    flex-direction: column;
    width: 190.43px;
    height: 40px;
  }
  .Prices1Text p, .Prices2Text p, .Prices3Text p{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 138.6%;
    color: #363636;
  }
  .Prices1Text ul, .Prices2Text ul, .Prices3Text ul{
    padding: 0 0;
    margin-left: 7%;
    margin-top: 0;
  }
  .Prices1Text li, .Prices2Text li, .Prices3Text li{
    font-family: 'FuturaBookC';
    font-size: 13px;
    line-height: 169.8%;
    color: #959595;
  }
  .Prices3Text span{
    display: none;
  }
  .PricesButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
    width: 190.43px;
    height: 40px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
  }
  .PricesButton p{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .Edit{
    margin-top: 65px;
  }
  .TextOurTeam{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 133px;
    margin-top: 1500px;
  }
  .OurTeanHead{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 138.6%;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .OurTeanBody{
    font-family: 'FuturaBookC';
    font-size: 15px;
    line-height: 135.84%;

    text-align: center;

    color: #FFFFFF;
  }

  .PhotosOfTeamNone {
    margin-top: -20px;
    margin-left: -26px;
    width: 375px;
    height: 1455px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: column;
    background-color: #131313;
    background-image: none;
  }
  .TeamAndClients {
    margin: 0;
    width: 375px;
    height: 1455px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: column;
    background-color: #131313;
    background-image: none;
  }
  .PhotosOfTeam{
    display: none;
  }
  .EachEmployee{
    display: none;
  }
  .Babulki{
    display:none;
  }
  .OurClients{
    display: none;
  }
  footer{
    display: none;
  }

  .Map {
    background-color: #131313;
    width: 100%;
    height: 1084.9px;
    display: flex;
    align-items: center;
    background-image: none;
  }
  .InputField{

    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;

    height: 497px;
    width: 340px;
    margin: 0;
  }
  .QuestionsMap{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .NameAndPhoneMap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 127px;
  }
  .NameAndPhoneMap table{
    width: 340px;
    border-collapse: collapse;
  }
  .NameAndPhoneMap td{
    width: 340px;
  }
  .NameAndPhoneMap input,.BigInputQuestion input{
    border:none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(120, 120, 120, 0.3) ;
    background-color: inherit;
    height: 33px;
    width: 100%;
    font-family: 'FuturaBookC';
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
  }
  .BigInputQuestion{
      width: 340px;
  }
  .BigInputQuestion table{
      width: 340px;
  }
  .QuestionInput{
    margin-left:-50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 285.62px;
    height: 18px;
  }
  .ButtonMap{
    margin-top: 35px;
    width: 340px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  }
  .ButtonMap span{
    font-family: 'FuturaDemiC';
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .Adress{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: column;
  }
  .Adress p{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color:#E3B873;
  }
  .TextProjectsNone{
    display: none;
  }
  .Yes{
    display:none;
  }
  .No{
    display: flex;
    width: 340px;
    height: 255px;
  }
}
